.parent{
    background-color: rgb(231, 230, 230);
}
.heading{
    display: flex;
    
    align-items: center;
}
.main2{
    background-color: rgb(231, 230, 230);
}
.data{
    color: rgb(128, 128, 128);
    font-size: 13px;
    margin-left: 19px;
}
.heading{
    color: black !important;
    height: 25px;
    margin-top: 20px;
    
}
a:link {
    color: black;
    text-decoration: none;
  }

.head{
    font-size: 14px;
    margin-bottom: 2px;
}  
.comment1:hover{
    text-decoration: underline;
}

.kuch{
     font-size: 10px;
     background-color: black;
     color: white;
     
}